:root {
	--primary-color:#9070AF;--background-color:#B88BE5}
	
	body {
		margin:0;font-family:sans-serif;background-color:var(--background-color);position:relative;overflow-x:hidden}
	
	body::before {
		content:"";position:fixed;inset:0;pointer-events:none;z-index:-1;opacity:.3;background-image:url(/assets/logo3.svg);background-repeat:repeat;background-size:100px 100px;background-position:0 0;animation:moveSouthwest 10s linear infinite}
			@keyframes moveSouthwest {
				0%{background-position:0 0}100%{background-position:-200px 200px}}
	
	header {
		background-color:var(--primary-color);color:#fff;padding:1rem;display:flex;justify-content:space-between;align-items:center}
	
	.header_right {
		display:flex;align-items:center;gap:1rem;margin-left:auto;}
	
	.logo {
		font-size:1.5rem;font-weight:700}
	
	.user-icons {
		display:flex;align-items:center;gap:1rem;font-size:1.5rem}
	
	.biscbot-img {
	display:block;width:90%;margin:2rem 0 0;max-width:90%;height:auto;margin-left: auto;margin-right: auto}
	
	.intro-box {
		background-color:#C8A2EA;border-radius:12px;max-width:80%;margin:2rem auto;padding:1.5rem;text-align:center;color:#fff;font-size:1.3rem;font-weight:700}
	